.container {
  background: #f0f0f0;
  margin-top: 10px;
  text-align: center;
  border: 2px solid;
  border-radius: 15px;
}
.title {
  font-size: 28px;
}
.header {
  background: #f0f0f0;
  font-size: 24px;
  padding: 10px;
}
.content {
  background: #f0f0f0;
  font-size: 24px;
  padding: 10px;
  margin-bottom: 10px;

}